// nextflow.config


process {
    executor = 'slurm'
    withName: tama_collapse {
        container = 'https://depot.galaxyproject.org/singularity/gs-tama:1.0.3--hdfd78af_0'
        memory = '32 GB'
    }
    withName: tama_merge {
        container = 'https://depot.galaxyproject.org/singularity/gs-tama:1.0.3--hdfd78af_0'
    }
    withName: gffcompare {
        container = 'https://depot.galaxyproject.org/singularity/gffcompare:0.12.6--h9948957_4'
    }
    withName: convert_bed_to_gff {
        container = 'https://depot.galaxyproject.org/singularity/bed2gff:0.1.5--h9948957_1'
        time = '10min'
    }
    withName: 'gffread|modify_gff_pc' {
        time = '10min'
    }
    withName: 'merge_gffs' {
        container = 'https://depot.galaxyproject.org/singularity/agat:1.4.2--pl5321hdfd78af_0'
        time = '10min'
    }
    withName: 'trimmomatic' {
        memory = '64 GB'
    }

}

singularity {
    enabled = true
}



